
@import "./utils/variables";
@import "./utils/animations";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./base/base";
@import "./base/typography";
@import "./layout/header";
@import "./layout/article";
@import "./layout/section";
@import "./layout/footer";
@import "./layout/aside";

.demarage {
    position:absolute; 
    width:100%; 
    height:100%; 
    z-index: 1;
    @include flexcenter;
    background-color: white;

    animation: backgroundStar linear 3s;

        
}

.fa-spinner{
    font-size: 4em;
    animation: spin 1000ms ease-in-out 3;
    
   

}