aside{
    width: 100%;
    @include flexcenter;
    flex-direction: column;     
}

img {
    height: 250px;
}

.carte{
    background-color: $greypale;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    display: flex;
    flex-flow: column;
        .titre{
            display: flex;
            justify-content: space-between;
            margin-right: 20px;
            margin-left: 20px;  
        }
        .souligné{
            margin-left: 20px;
            h2{
                font-size: 16px;
                font-weight: 300;
                margin-left: 0px;
            }
            .trait{
                width: 40px ;
                height: 3px;
                border-bottom: $tertiary 3px solid ;   
            }
        }
        .exploreButton{
            @include buttongradient;
            margin: 30px auto 70px auto; 
              p{
                margin: auto 20px;
              }
        }       
}

.entrées, .plats, .désserts{
    background-color: $greypale;
    @include flexcenter;
    flex-flow: column;
    width: 100%;
    margin: 18px auto;    
}

.entrées{
    opacity: 0;
    animation: transition 0.3s ease-in-out 0.5s forwards;
}

.plats{
    opacity: 0;
    animation: transition 0.3s ease-in-out 1s forwards;
}

.désserts{
    opacity: 0;
    animation: transition 0.3s ease-in-out 1.5s forwards;
}

.MetsAChoisir {
    display:flex;
    background-color: white;
    width: 90%;
    border-radius: 15px;
    margin: 7px 0;
        
        .DescPlat{
            margin-left: 10px;
             margin-right: 20px;
             width: 100%;
            
                & h3{
                    margin: 10px 0 0 0px;
                    font-weight: 400;
                }

                .price{
                    width: 100%;
                    display:flex;
                    justify-content: space-between;
                    
                    h4{
                            font-weight: 200;
                            font-size: 16px;
                            margin-top: 5px;
                            margin-bottom: 15px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                        }
                    p{
                            font-weight: bold ;
                            margin-top: 5px;
                            margin-bottom: 15px;    
                        }
                }
                
                &:hover + .check{ 
                    opacity: 1;
                    animation: checks 0.3s linear forwards; 
                    .fa-check-circle {
                        color: white;
                        animation: rotate 0.3s forwards;
                    } 
                }
         }

        .check{
                opacity: 0;
                background-color: $tertiary;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                margin-right: 0;
                @include flexcenter;
        }
            
}



