aside{
    width: 100%;
    @include flexcenter;
    flex-direction: column;     
    
}

.ImageResto {
    height: 250px;
    width: 100%;
    object-fit: cover;
    margin: auto;
}

.carte{
    background-color: $greypale;
    margin-top: -50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    display: flex;
    flex-flow: column;
        .titre{
            display: flex;
            justify-content: space-between;
            margin: 20px 10px 10px 20px;
            .Logo{
                font-weight: 500; 
                font-size: 28px;
                margin-top: 5px;
            }
            
        }
        .souligné{
            margin-left: 20px;
            h2{
                font-size: 16px;
                font-weight: 300;
                margin-top: 10px;
                margin-left: 0px;
                margin-bottom: 0px;
            }
            .trait{
                width: 40px ;
                height: 3px;
                border-bottom: $tertiary 3px solid ;   
            }
        }
        
}

.commander{
    margin: 30px auto 70px auto; 
    padding-right: 50px;        
    padding-left: 50px;
              
}
.entrées, .plats, .désserts{
    background-color: $greypale;
    @include flexcenter;
    flex-flow: column;
    width: 100%;
    margin: 8px auto;    
}

.entrées{
    opacity: 0;
    animation: transition 0.3s ease-in-out 0.5s forwards;
}

.plats{
    opacity: 0;
    animation: transition 0.3s ease-in-out 1s forwards;
}

.désserts{
    opacity: 0;
    animation: transition 0.3s ease-in-out 1.5s forwards;
}

.MetsAChoisir {
    display:flex;
    background-color: white;
    width: 90%;
    border-radius: 15px;
    margin: 7px 0;
    box-shadow:   1px 7px 7px  rgb(225, 225, 225);
    
    
        .DescPlat{
            margin-left: 10px;
             margin-right: 0px;
             width: 100%;
             text-overflow: ellipsis;
             overflow: hidden;
             
                & h3{
                    width: 100%;
                    margin: 10px 0 0 0px;
                    font-weight: 400;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;    
                }
                     .price{
                    width: 100%;
                    display:flex;
                    justify-content: space-between;
                    margin-right: 20px;                    
                    h4{
                            font-weight: 300;
                            font-size: 14px;
                            margin-top: 5px;
                            margin-bottom: 10px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                        }                  
                        p{
                            font-size: 0.95em;
                            font-weight: bold ;
                            margin-top: 5px;
                            margin-bottom: 10px; 
                            margin-right: 0;

                        }
                }
                
                &:hover + .check{ 
                    
                    opacity: 1;
                    animation: checks 0.3s linear forwards; 
                        .fa-check-circle {
                            color: white;
                            animation: rotate 0.3s forwards;
                        } 
                }
         }

        .check{
                opacity: 0;
                background-color: $tertiary;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                margin-right: 0;
                @include flexcenter;
                font-size: 1.3em;
        }
            
}



