
footer{
    
    color: white;
    background-color: #282828;
    padding: 10px 6% 20px 6%;
    
        a{
            text-decoration: none;
            color: white;
            margin-bottom: 30px;
        }
        h1{
            margin: 10px 0 ;
            font-size: 1.1em; 
            font-weight: 100;
        }

        .foot{
            display: flex;
            align-items: center;

            .fa-utensils{
               font-size: 0.8em;
                margin-right: 10px;
            }
            .fa-hands-helping{
                font-size: 0.7em;
                margin-right: 8px;  
            }

            p{
                font-size: 1em;
                margin: 5px 0 ;
                font-size: 1em;
                font-weight: 300;       
            }
        }
        p{
            margin-top: 4px;
            margin-bottom: 6px;
            font-weight: 300;
        }
}
