header{
   @include flexcenter;
   align-items: center;
    height: 75px;

    div{
        position: absolute;
        float: left;
        //margin-left: 20px;
        margin-top: 10px;
    }
   
}

a{
    text-decoration: none;
    color: black;
}