header{
   
    height: 75px;  
    width: 100%;
    
    a{
        position: absolute;
        left: 20px;
        text-decoration: none;
        color: black;
    }

    figure{
        
        @include flexcenter;
        position: relative;
        
            img {
                height: 30px;
            }
    }  
}
.demarage {
    position:fixed; 
    width:100%; 
    height:100%; 
    z-index: 1;
    @include flexcenter;
    background-color: white;
    overflow: hidden;

    animation: backgroudStar linear 3s forwards;

    .fa-spinner{
        font-size: 4em;
        animation: spin 1000ms ease-in-out 3 forwards;
      
    }

        
}
