header{
   
    height: 75px;
    
    width: 100%;
    
   
    
    a{
        position: absolute;
        left: 20px;
        text-decoration: none;
        color: black;
       
    }

    figure{
        
        @include flexcenter;
        position: relative;
        
            img {
                
                height: 30px;
            }
        
    }
   
}

