section{
    background-color: #f4f4f4;
    width: 100%;
    padding-top: 30px;      
}

h2{
    width: 88%;
    margin: 0 auto;
}



#restaurants{
    width: 88%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 1096px;

        medaillon{
            height: 250px;
            border-radius: 10px;
            margin: 0;
            
  

        }
}

.restaurant{
    height: 250px;
    border-radius: 10px;
    margin: 0;
}


.presentation{
    margin: 0;
    height:175px;
    position: relative;
        img{
            object-fit: cover;
            height: 173px;
            width: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            
        }
      .un{
        object-position: 50% 100%;
      }

      .deux{
        object-position: 50% 60%;
      }
      .trois{
        object-position: 50% 100%;
      }
      .quatre{
        object-position: 50% 100%;
      }

}
.desc{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 0;
    height: 60px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    padding-top: 15px;
   
            h3{
               margin: 0 15px;
            }
       
            h4{
                margin-left: 15px;
                margin-top: 0px;
                font-weight: 300;
                padding-top: 5px;
                font-size: 18px;
            }
}
.new{
    position: absolute;
    right: 10px;
    top: 10px;
    height: 30px;
    width: 80px;
    background-color: $tertiary;
    margin: 0;
    @include flexcenter;
    color: #107854;
}


.container-heart{
    position: relative;
    padding-top: 10px;
    padding-right: 20px;
    font-size: 1.5em; 

    &:hover {
        & .container-heart__full { 
            animation: heart-liker 1600ms;
            animation-fill-mode: forwards;   
        }

    }
    &__full {
        
		position: absolute;
        top: 10px;
        right: 20px;
        opacity: 0;
        background: linear-gradient($primary, $secondary);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }
    
}






