@charset "UTF-8";
@keyframes heart-liker {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes survol {
  0% {
    box-shadow: 0px 4px 8px #acacac;
    opacity: 1;
  }
  100% {
    box-shadow: 0px 6px 8px 3px #acacac;
    opacity: 0.8;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    z-index: -1;
  }
}
@keyframes backgroudStar {
  0% {
    height: 100%;
    width: 100%;
  }
  99% {
    height: 100%;
    width: 100%;
  }
  100% {
    height: 0%;
    width: 0%;
  }
}
@keyframes transition {
  0% {
    margin-top: -70px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
@keyframes checks {
  0% {
    width: 0;
    opacity: 0;
  }
  20% {
    opacity: 1;
    margin-left: 20px;
  }
  100% {
    width: 70px;
    opacity: 1;
    margin-left: 20px;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
}

h1, .Logo {
  font-family: "Shrikhand", sans-serif;
}

header {
  height: 57px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
header a {
  position: absolute;
  left: 20px;
  text-decoration: none;
  color: black;
}
header a .fa-arrow-left {
  font-size: large;
}
header figure {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header figure img {
  height: 30px;
}

/*.demarage {
    position:fixed; 
    width:100%; 
    height:100%; 
    z-index: -1;
    @include flexcenter;
    background-color: white;
    overflow: hidden;

    //animation: backgroudStar linear 3 forwards;

    .fa-spinner{
        font-size: 4em;
        //animation: spin 1000ms ease-in-out 3 forwards;

    }


}*/
#star {
  width: 2000px;
  height: 2000px;
  z-index: 1;
  background-color: white;
  animation: backgroudStar 3s linear forwards;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 400px;
}
#star #loader {
  width: 100px;
  height: 100px;
  border: 20px solid #FF79DA;
  border-top: 20px solid #9356DC;
  border-bottom: 20px solid #9356DC;
  border-radius: 50%;
  animation: spin 1000ms ease-in-out 3 forwards;
}

#Localisation {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
  box-shadow: inset 0px 3px 3px #c4c4c4;
}

.fa-map-marker-alt {
  margin-right: 20px;
}

#decouverte {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  height: 280px;
  background-color: #f4f4f4;
  text-align: center;
}
#decouverte h2 {
  font-weight: 500;
  width: 70%;
  margin-top: 40px;
}
#decouverte h3 {
  font-size: 18px;
  font-weight: 300;
  width: 90%;
  margin-bottom: 30px;
  margin-top: 0;
  color: #6b6b6b;
}

.exploreButton {
  color: white;
  border-radius: 30px;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 0 20px;
  font-size: 16px;
  box-shadow: 0px 4px 8px 1px #acacac;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
.exploreButton:hover {
  animation: survol 800ms;
}

#Fonctionnement {
  margin: auto;
  width: 100%;
  height: 440px;
}
#Fonctionnement h2 {
  width: 90%;
  padding-top: 40px;
  margin-bottom: 0;
}

#choise {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.choix {
  height: 75px;
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 20px;
  box-shadow: 1px 7px 7px #e1e1e1;
  margin-top: 25px;
  margin-left: 5px;
}
.choix:hover {
  background-color: #f2e7ff;
}

.fa-store {
  color: #9356DC;
}

.fa-list-ul, .fa-mobile-alt {
  color: #6b6b6b;
  font-weight: 300;
}

.dispo {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.dispo i {
  font-size: large;
}

.circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
  margin-right: 30px;
}
.circle p {
  color: white;
  font-size: small;
}

section {
  background-color: #f4f4f4;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

h2 {
  width: 88%;
  margin: 10px auto;
}

#restaurants {
  width: 88%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 1096px;
}
#restaurants .medaillon {
  height: 250px;
  border-radius: 15px;
  box-shadow: 0px 4px 8px 1px #acacac;
}

.restaurant {
  height: 250px;
  border-radius: 10px;
  margin: 0;
}

.presentation {
  margin: 0;
  height: 175px;
  position: relative;
}
.presentation img {
  object-fit: cover;
  height: 173px;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.presentation .un {
  object-position: 50% 100%;
}
.presentation .deux {
  object-position: 50% 60%;
}
.presentation .trois {
  object-position: 50% 100%;
}
.presentation .quatre {
  object-position: 50% 100%;
}

.desc {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 0;
  height: 60px;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  padding-top: 15px;
}
.desc h3 {
  margin: 0 15px;
}
.desc h4 {
  margin-left: 15px;
  margin-top: 0px;
  font-weight: 300;
  padding-top: 5px;
  font-size: 18px;
  text-overflow: ellipsis;
}

.new {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 30px;
  width: 80px;
  background-color: #99E2D0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #107854;
  font-size: 14px;
  font-weight: 500;
}

.container-heart {
  position: relative;
  padding-top: 10px;
  padding-right: 20px;
  font-size: 1.5em;
}
.container-heart:hover .container-heart__full {
  animation: heart-liker 1600ms;
  animation-fill-mode: forwards;
}
.container-heart__full {
  position: absolute;
  top: 10px;
  right: 20px;
  opacity: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  color: transparent;
  -webkit-text-fill-color: transparent;
  -o-background-clip: transparent;
  -webkit-background-clip: text;
}

footer {
  font-size: 0.8em;
  color: white;
  background-color: #282828;
  padding: 10px 6%;
}
footer a {
  text-decoration: none;
  color: white;
}
footer h1 {
  margin: 0;
}

aside {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ImageResto {
  height: 250px;
  width: 100%;
  object-fit: cover;
  margin: auto;
}

.carte {
  background-color: #f2f2f2;
  margin-top: -50px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  display: flex;
  flex-flow: column;
}
.carte .titre {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 20px;
}
.carte .souligné {
  margin-left: 20px;
}
.carte .souligné h2 {
  font-size: 16px;
  font-weight: 300;
  margin-left: 0px;
}
.carte .souligné .trait {
  width: 40px;
  height: 3px;
  border-bottom: #99E2D0 3px solid;
}

.commander {
  margin: 30px auto 70px auto;
  padding-right: 50px;
  padding-left: 50px;
}

.entrées, .plats, .désserts {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  margin: 18px auto;
}

.entrées {
  opacity: 0;
  animation: transition 0.3s ease-in-out 0.5s forwards;
}

.plats {
  opacity: 0;
  animation: transition 0.3s ease-in-out 1s forwards;
}

.désserts {
  opacity: 0;
  animation: transition 0.3s ease-in-out 1.5s forwards;
}

.MetsAChoisir {
  display: flex;
  background-color: white;
  width: 90%;
  border-radius: 15px;
  margin: 7px 0;
}
.MetsAChoisir .DescPlat {
  margin-left: 10px;
  margin-right: 0px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.MetsAChoisir .DescPlat h3 {
  width: 100%;
  margin: 10px 0 0 0px;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.MetsAChoisir .DescPlat .price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}
.MetsAChoisir .DescPlat .price h4 {
  font-weight: 200;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.MetsAChoisir .DescPlat .price p {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-right: 0;
}
.MetsAChoisir .DescPlat:hover + .check {
  opacity: 1;
  animation: checks 0.3s linear forwards;
}
.MetsAChoisir .DescPlat:hover + .check .fa-check-circle {
  color: white;
  animation: rotate 0.3s forwards;
}
.MetsAChoisir .check {
  opacity: 0;
  background-color: #99E2D0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
}

/*# sourceMappingURL=style.css.map */
